td, th{
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        -khtml-border-radius: 15px;
        border-radius: 15px;
        background-color: #99ff99;
        padding: 5px;
        margin-right: 10px;
        margin-top: 5px;
    }
    
table {
	width: 100%;
	border: 1px solid black;
	text-align: left; }
/*    
th {
	font-weight: bold;
	background-color: #acf;
	border-bottom: 1px solid #cef; }
    
*/
    
#header{
        background-color: #acf;
        /*font-family: Times, Bold, sans-serif;*/
        font-size: 25px;
        }
    